<div id="commit_diff">
  <% @commit.parents[0].diff(@commit).each do |diff| %>
    <div class="diff_block">
      <table>
        <% diff.to_s.split(/\n/).each do |line| %>
          <tr>
            <td>
              <%= line %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
